
<div class="schedule-nav">
  <input class="datepicker-input" [matDatepicker]="picker" placeholder="Choose a date" (dateChange)="onDateSelected($event)">
  <mat-datepicker #picker></mat-datepicker>
  <button class="datepicker-trigger" (click)="picker.open()">
    <app-icon [iconBaseUrl]="iconBaseUrl" [iconId]="'calendar'"></app-icon>
  </button>
  <ul class="schedule-nav-items">
    <li *ngFor="let navDate of navDates">
      <a [routerLink]="[routePath, navDate.urlDate]" class="schedule-nav-item" [class.is-active]="navDate.isActive ? 'is-active' : ''">
        {{navDate.displayDate}}
      </a>
    </li>
  </ul>
</div>
