<button class="button button--icon-left" (click)="goBack()">
  <app-icon iconId="arrow-left"></app-icon>Back
</button>
<app-game-header></app-game-header>
<app-game-intro></app-game-intro>
<app-scoreboard></app-scoreboard>

<app-tabs>
  <app-tabs-content tabTitle="Period Summary">
    <app-period-summary></app-period-summary>
  </app-tabs-content>
  <app-tabs-content tabTitle="Team Stats">
    <app-game-stats></app-game-stats>
    <app-team-stats></app-team-stats>
  </app-tabs-content>
</app-tabs>
