@import 'config/variables';

// Default styles
// -----------------------------------------------------------------+
.modal {
  &--trigger {
    background: none;
    border: none;
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &--overlay {
    align-items: center;
    background: rgba($color-black, 0.8);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: $z-index-modal-overlay;
  }

  &--container {
    background: none;
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: 90vh;
    max-width: $container-width-desktop-wide;
    min-height: 400px;
    overflow-y: auto;
    padding: 0;
    position: relative;
    width: 90%;
    z-index: $z-index-modal-window;
  }

  &--close {
    align-self: flex-end;
    background: none;
    border: none;
    height: 2rem;
    margin-bottom: 0.5rem;
    padding: 0.25rem;
    width: 2rem;

    ::ng-deep .svg-icon {
      fill: $color-white;
      height: 100%;
      width: 100%;
    }
  }

  &--content {
    background: $color-white;
    display: block;
    max-height: 100%;
    overflow-y: auto;
    padding: $gutter-width;
  }
}

// Player Detail Modal
// -----------------------------------------------------------------+
.player-detail {
  &--hero {
    background: center center no-repeat;
    background-size: cover;
    display: block;
    height: 0;
    padding-top: 33.3%;
    position: relative;
    width: 100%;
  }

  &--bio {
    background: $color-grey-med;
    border-bottom: 4px solid $color-white;
    border-top: 4px solid $color-white;
    display: flex;
    font-weight: 400;
    padding: 1rem;
    position: relative;
    text-align: left;

    @media (max-width: $breakpoint-mobile-max) {
      flex-direction: column;
    }

    &-info {
      flex: 1;
    }

    &-name {
      font-size: 2rem;
      font-weight: 700;

      @media (max-width: $breakpoint-mobile-max) {
        font-size: 1.5rem;
      }
    }

    &-stat {
      display: inline-block;
      margin: 0 1rem 0.25rem 0;
    }

    &-label {
      font-weight: 600;
    }
  }

  ::ng-deep .player-photo {
    border-width: 5px;
    height: 12rem;
    margin: -3rem 2rem 0 1rem;
    width: 12rem;

    @media (max-width: $breakpoint-mobile-max) {
      border-width: 3px;
      height: 4rem;
      width: 4rem;
    }

    &:hover,
    &:focus {
      border-color: $color-grey-med;
    }
  }
}
