<div class="modal--overlay" (click)="onCloseModalClick()">
  <div class="modal--container player-detail">
    <button class="modal--close" (click)="onCloseModalClick()">
      <app-icon iconId="close"></app-icon>
      <span class="offscreen">close modal</span>
    </button>
    <div class="modal--content" (click)="$event.stopPropagation()">
      <ng-container *ngIf="data | async; let data; else loader">
        <ng-container *ngIf="data.showNoResults || data.isPreview; else content">
          <h2 class="error-msg">No player stats available.</h2>
        </ng-container>

        <ng-template #content>
          <div class="player-detail--hero" [style.backgroundImage]="'url(' + data.hero + ')'"></div>
          <div class="player-detail--bio">
            <app-player-photo [photoUrl]="data.headshot"></app-player-photo>
            <div class="player-detail--bio-info">
              <div class="player-detail--bio-name">{{data.name}} #{{data.number}}</div>
              <div>
                <span class="player-detail--bio-stat">{{data.pos}} | {{data.height}} | {{data.weight}} lbs</span>
              </div>
              <div>
                <span class="player-detail--bio-stat">
                  <span class="player-detail--bio-label">Shoots:</span> {{data.shoots}}
                </span>
              </div>
              <div>
                <span class="player-detail--bio-stat">
                  <span class="player-detail--bio-label">Born:</span> {{data.birthDate}}
                </span>
                <span class="player-detail--bio-stat">
                  <span class="player-detail--bio-label">Age:</span> {{data.age}}
                </span>
              </div>
              <div>
                <span class="player-detail--bio-stat">
                  <span class="player-detail--bio-label">Birthplace:</span> {{data.birthPlace}}
                </span>
              </div>
            </div>
          </div>

          <app-tabs>
            <app-tabs-content tabTitle="Regular Season">
              <ng-container *ngIf="data.seasonStats.length > 0; else noSeasonStats">
                <div class="player-detail--stats">
                  <ng-container *ngIf="data.pos === 'G'; else skatersSeasonLayout">
                    <div class="stats-table">
                      <table>
                        <thead>
                        <tr>
                          <th class="stats-table--pinned text-left">Season</th>
                          <th class="stats-table--spacer text-left">Team</th>
                          <th class="tooltip">GP <span class="tooltip-content">Games Played</span></th>
                          <th class="tooltip">GS <span class="tooltip-content">Games Started</span></th>
                          <th class="tooltip">W <span class="tooltip-content">Wins</span></th>
                          <th class="tooltip">L <span class="tooltip-content">Losses</span></th>
                          <th class="tooltip">T <span class="tooltip-content">Ties</span></th>
                          <th class="tooltip">OT <span class="tooltip-content">Overtime Losses</span></th>
                          <th class="tooltip">SA <span class="tooltip-content">Shots Against</span></th>
                          <th class="tooltip">GA <span class="tooltip-content">Goals Against</span></th>
                          <th class="tooltip">GAA <span class="tooltip-content">Goals Against Average</span></th>
                          <th class="tooltip">SV <span class="tooltip-content">Saves</span></th>
                          <th class="tooltip">SV% <span class="tooltip-content">Save Percentage</span></th>
                          <th class="tooltip">SO <span class="tooltip-content">Shutouts</span></th>
                          <th class="tooltip">MIN <span class="tooltip-content">Minutes</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let season of data.seasonStats" [class.total]="season.season === 'Total'">
                          <td class="stats-table--pinned text-left">{{season.season}}</td>
                          <td class="stats-table--spacer text-left">{{season.team.abbreviation}}</td>
                          <td>{{season.stats.games}}</td>
                          <td>{{season.stats.gamesStarted}}</td>
                          <td>{{season.stats.wins}}</td>
                          <td>{{season.stats.losses}}</td>
                          <td>{{season.stats.ties}}</td>
                          <td>{{season.stats.ot}}</td>
                          <td>{{season.stats.shotsAgainst}}</td>
                          <td>{{season.stats.goalsAgainst}}</td>
                          <td>{{season.stats.goalAgainstAverage}}</td>
                          <td>{{season.stats.saves}}</td>
                          <td>{{season.stats.savePercentage}}</td>
                          <td>{{season.stats.shutouts}}</td>
                          <td>{{season.stats.timeOnIce}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </ng-container>

                  <ng-template #skatersSeasonLayout>
                    <div class="stats-table">
                      <table>
                        <thead>
                        <tr>
                          <th class="stats-table--pinned text-left">Season</th>
                          <th class="stats-table--spacer text-left">Team</th>
                          <th class="tooltip">GP <span class="tooltip-content">Games Played</span></th>
                          <th class="tooltip">G <span class="tooltip-content">Goals</span></th>
                          <th class="tooltip">A <span class="tooltip-content">Assists</span></th>
                          <th class="tooltip">P <span class="tooltip-content">Points</span></th>
                          <th class="tooltip">+/- <span class="tooltip-content">Plus / Minus</span></th>
                          <th class="tooltip">PIM <span class="tooltip-content">Penalty Minutes</span></th>
                          <th class="tooltip">PPG <span class="tooltip-content">Power Play Goals</span></th>
                          <th class="tooltip">PPP <span class="tooltip-content">Power Play Points</span></th>
                          <th class="tooltip">SHG <span class="tooltip-content">Shorthanded Goals</span></th>
                          <th class="tooltip">SHP <span class="tooltip-content">Shorthanded Points</span></th>
                          <th class="tooltip">GWG <span class="tooltip-content">Game Winning Goals</span></th>
                          <th class="tooltip">OTG <span class="tooltip-content">Overtime Goals</span></th>
                          <th class="tooltip">SOG <span class="tooltip-content">Shots on Goal</span></th>
                          <th class="tooltip">S% <span class="tooltip-content">Shooting Percentage</span></th>
                          <th class="tooltip">HT <span class="tooltip-content">Hits</span></th>
                          <th class="tooltip">BS <span class="tooltip-content">Blocked Shots</span></th>
                          <th class="tooltip">FO% <span class="tooltip-content">Faceoff Win Percentage</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let season of data.seasonStats" [class.total]="season.season === 'Total'">
                          <td class="stats-table--pinned text-left">{{season.season}}</td>
                          <td class="stats-table--spacer text-left">{{season.team.abbreviation}}</td>
                          <td>{{season.stats.games}}</td>
                          <td>{{season.stats.goals}}</td>
                          <td>{{season.stats.assists}}</td>
                          <td>{{season.stats.goals + season.stats.assists}}</td>
                          <td>{{season.stats.plusMinus}}</td>
                          <td>{{season.stats.penaltyMinutes}}</td>
                          <td>{{season.stats.powerPlayGoals}}</td>
                          <td>{{season.stats.powerPlayPoints}}</td>
                          <td>{{season.stats.shortHandedGoals}}</td>
                          <td>{{season.stats.shortHandedPoints}}</td>
                          <td>{{season.stats.gameWinningGoals}}</td>
                          <td>{{season.stats.overTimeGoals}}</td>
                          <td>{{season.stats.shots}}</td>
                          <td>{{season.stats.shotPct}}</td>
                          <td>{{season.stats.hits}}</td>
                          <td>{{season.stats.blocked}}</td>
                          <td>{{season.stats.faceOffPct}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </ng-template>
                </div>
              </ng-container>
              <ng-template #noSeasonStats>
                <h2 class="error-msg">No regular season stats available.</h2>
              </ng-template>
            </app-tabs-content>
            <app-tabs-content tabTitle="Playoffs">
              <ng-container *ngIf="data.playoffStats.length > 0; else noPlayoffStats">
                <div class="player-detail--stats">
                  <ng-container *ngIf="data.pos === 'G'; else skatersPlayoffLayout">
                    <div class="stats-table">
                      <table>
                        <thead>
                        <tr>
                          <th class="stats-table--pinned text-left">Season</th>
                          <th class="stats-table--spacer text-left">Team</th>
                          <th class="tooltip">GP <span class="tooltip-content">Games Played</span></th>
                          <th class="tooltip">GS <span class="tooltip-content">Games Started</span></th>
                          <th class="tooltip">W <span class="tooltip-content">Wins</span></th>
                          <th class="tooltip">L <span class="tooltip-content">Losses</span></th>
                          <th class="tooltip">T <span class="tooltip-content">Ties</span></th>
                          <th class="tooltip">OT <span class="tooltip-content">Overtime Losses</span></th>
                          <th class="tooltip">SA <span class="tooltip-content">Shots Against</span></th>
                          <th class="tooltip">GA <span class="tooltip-content">Goals Against</span></th>
                          <th class="tooltip">GAA <span class="tooltip-content">Goals Against Average</span></th>
                          <th class="tooltip">SV <span class="tooltip-content">Saves</span></th>
                          <th class="tooltip">SV% <span class="tooltip-content">Save Percentage</span></th>
                          <th class="tooltip">SO <span class="tooltip-content">Shutouts</span></th>
                          <th class="tooltip">MIN <span class="tooltip-content">Minutes</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let season of data.playoffStats" [class.total]="season.season === 'Total'">
                          <td class="stats-table--pinned text-left">{{season.season}}</td>
                          <td class="stats-table--spacer text-left">{{season.team.abbreviation}}</td>
                          <td>{{season.stats.games}}</td>
                          <td>{{season.stats.gamesStarted}}</td>
                          <td>{{season.stats.wins}}</td>
                          <td>{{season.stats.losses}}</td>
                          <td>{{season.stats.ties}}</td>
                          <td>{{season.stats.ot}}</td>
                          <td>{{season.stats.shotsAgainst}}</td>
                          <td>{{season.stats.goalsAgainst}}</td>
                          <td>{{season.stats.goalAgainstAverage}}</td>
                          <td>{{season.stats.saves}}</td>
                          <td>{{season.stats.savePercentage}}</td>
                          <td>{{season.stats.shutouts}}</td>
                          <td>{{season.stats.timeOnIce}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </ng-container>

                  <ng-template #skatersPlayoffLayout>
                    <div class="stats-table">
                      <table>
                        <thead>
                        <tr>
                          <th class="stats-table--pinned text-left">Season</th>
                          <th class="stats-table--spacer text-left">Team</th>
                          <th class="tooltip">GP <span class="tooltip-content">Games Played</span></th>
                          <th class="tooltip">G <span class="tooltip-content">Goals</span></th>
                          <th class="tooltip">A <span class="tooltip-content">Assists</span></th>
                          <th class="tooltip">P <span class="tooltip-content">Points</span></th>
                          <th class="tooltip">+/- <span class="tooltip-content">Plus / Minus</span></th>
                          <th class="tooltip">PIM <span class="tooltip-content">Penalty Minutes</span></th>
                          <th class="tooltip">PPG <span class="tooltip-content">Power Play Goals</span></th>
                          <th class="tooltip">PPP <span class="tooltip-content">Power Play Points</span></th>
                          <th class="tooltip">SHG <span class="tooltip-content">Shorthanded Goals</span></th>
                          <th class="tooltip">SHP <span class="tooltip-content">Shorthanded Points</span></th>
                          <th class="tooltip">GWG <span class="tooltip-content">Game Winning Goals</span></th>
                          <th class="tooltip">OTG <span class="tooltip-content">Overtime Goals</span></th>
                          <th class="tooltip">SOG <span class="tooltip-content">Shots on Goal</span></th>
                          <th class="tooltip">S% <span class="tooltip-content">Shooting Percentage</span></th>
                          <th class="tooltip">HT <span class="tooltip-content">Hits</span></th>
                          <th class="tooltip">BS <span class="tooltip-content">Blocked Shots</span></th>
                          <th class="tooltip">FO% <span class="tooltip-content">Faceoff Win Percentage</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let season of data.playoffStats" [class.total]="season.season === 'Total'">
                          <td class="stats-table--pinned text-left">{{season.season}}</td>
                          <td class="stats-table--spacer text-left">{{season.team.abbreviation}}</td>
                          <td>{{season.stats.games}}</td>
                          <td>{{season.stats.goals}}</td>
                          <td>{{season.stats.assists}}</td>
                          <td>{{season.stats.goals + season.stats.assists}}</td>
                          <td>{{season.stats.plusMinus}}</td>
                          <td>{{season.stats.penaltyMinutes}}</td>
                          <td>{{season.stats.powerPlayGoals}}</td>
                          <td>{{season.stats.powerPlayPoints}}</td>
                          <td>{{season.stats.shortHandedGoals}}</td>
                          <td>{{season.stats.shortHandedPoints}}</td>
                          <td>{{season.stats.gameWinningGoals}}</td>
                          <td>{{season.stats.overTimeGoals}}</td>
                          <td>{{season.stats.shots}}</td>
                          <td>{{season.stats.shotPct}}</td>
                          <td>{{season.stats.hits}}</td>
                          <td>{{season.stats.blocked}}</td>
                          <td>{{season.stats.faceOffPct}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </ng-template>
                </div>
              </ng-container>
              <ng-template #noPlayoffStats>
                <h2 class="error-msg">No playoff stats available.</h2>
              </ng-template>
            </app-tabs-content>
          </app-tabs>
        </ng-template>
      </ng-container>

      <ng-template #loader>
        <app-loader></app-loader>
      </ng-template>
    </div>
  </div>
</div>
