<div class="modal--overlay" (click)="onCloseModalClick()">
  <div class="modal--container player-detail">
    <button class="modal--close" (click)="onCloseModalClick()">
      <app-icon iconId="close"></app-icon>
      <span class="offscreen">close modal</span>
    </button>
    <div class="modal--content">
      <ng-container *ngIf="data | async; let data; else loader">
        <ng-container *ngIf="data.showNoResults || data.isPreview; else content">
          <h2 class="error-msg">No player stats available.</h2>
        </ng-container>

        <ng-template #content>
          <div class="player-detail--hero" [style.backgroundImage]="'url(' + data.hero + ')'"></div>
          <app-player-photo [photoUrl]="data.headshot"></app-player-photo>

          <p>{{data.number}} {{data.name}} {{data.pos}} {{data.height}}</p>
          <p>{{data.birthPlace}}</p>
          <p>{{data.birthDate}} {{data.age}}</p>
        </ng-template>
      </ng-container>

      <ng-template #loader>
        <app-loader></app-loader>
      </ng-template>
    </div>
  </div>
</div>
