<ng-container *ngIf="data$ | async; let data">
  <div class="team-stats" *ngIf="!data.isPreview">
    <table>
      <thead>
      <tr>
        <th></th>
        <th class="tooltip">SOG <span class="tooltip-content">Shots on Goal</span></th>
        <th class="tooltip">FO% <span class="tooltip-content">Faceoff Win Percentage</span></th>
        <th class="tooltip">PP <span class="tooltip-content">Power Play Goals/Opportunities</span></th>
        <th class="tooltip">PIM <span class="tooltip-content">Penalty Minutes</span></th>
        <th class="tooltip">HT <span class="tooltip-content">Hits</span></th>
        <th class="tooltip">BS <span class="tooltip-content">Blocked Shots</span></th>
        <th class="tooltip">GV <span class="tooltip-content">Giveaways</span></th>
        <th class="tooltip">TK <span class="tooltip-content">Takeaways</span></th>
      </tr>
      </thead>
      <tbody>
        <tr *ngIf="data.boxscoreTeams.away; let teamData">
          <td class="team-stats-team">
            <app-icon [iconClass]="'team-logo'" [iconBaseUrl]="logoBaseUrl" [iconId]="data.teams.away.id"></app-icon>
            <span class="team-stats-team-name">{{data.teams.away.name}}</span>
          </td>
          <td>{{teamData.teamStats.teamSkaterStats.shots}}</td>
          <td>{{teamData.teamStats.teamSkaterStats.faceOffWinPercentage}}</td>
          <td>{{teamData.teamStats.teamSkaterStats.powerPlayGoals}}/{{teamData.teamStats.teamSkaterStats.powerPlayOpportunities}}</td>
          <td>{{teamData.teamStats.teamSkaterStats.pim}}</td>
          <td>{{teamData.teamStats.teamSkaterStats.hits}}</td>
          <td>{{teamData.teamStats.teamSkaterStats.blocked}}</td>
          <td>{{teamData.teamStats.teamSkaterStats.giveaways}}</td>
          <td>{{teamData.teamStats.teamSkaterStats.takeaways}}</td>
        </tr>
        <tr *ngIf="data.boxscoreTeams.home; let teamData">
          <td class="team-stats-team">
            <app-icon [iconClass]="'team-logo'" [iconBaseUrl]="logoBaseUrl" [iconId]="data.teams.home.id"></app-icon>
            <span class="team-stats-team-name">{{data.teams.home.name}}</span>
          </td>
          <td>{{teamData.teamStats.teamSkaterStats.shots}}</td>
          <td>{{teamData.teamStats.teamSkaterStats.faceOffWinPercentage}}</td>
          <td>{{teamData.teamStats.teamSkaterStats.powerPlayGoals}}/{{teamData.teamStats.teamSkaterStats.powerPlayOpportunities}}</td>
          <td>{{teamData.teamStats.teamSkaterStats.pim}}</td>
          <td>{{teamData.teamStats.teamSkaterStats.hits}}</td>
          <td>{{teamData.teamStats.teamSkaterStats.blocked}}</td>
          <td>{{teamData.teamStats.teamSkaterStats.giveaways}}</td>
          <td>{{teamData.teamStats.teamSkaterStats.takeaways}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
