<ng-container *ngIf="data$ | async; let data; else loader">
  <div class="game-intro" *ngIf="!data.showNoResults">
    <h2 *ngIf="data.title">{{data.title}}</h2>
    <p *ngIf="data.desc">{{data.desc}}</p>
    <div class="game-intro-media">
      <ng-container *ngIf="data.isRecap; else poster">
        <app-video-player [showVideo]="false" [poster]="data.recapPoster" [video]="data.recapVideo" [altText]="data.posterAltText"></app-video-player>
      </ng-container>
      <ng-template #poster>
        <img *ngIf="data.poster" [src]="data.poster" [alt]="data.posterAltText" />
      </ng-template>
    </div>
  </div>
</ng-container>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
