<ng-container *ngIf="showVideoPlayer; else showPoster">
  <video [src]="video" [poster]="poster" controls autoPlay="isAutoplay" (play)="onVideoEvent($event)" (ended)="onVideoEvent($event)"></video>
</ng-container>

<ng-template #showPoster>
  <button class="video-trigger" (click)="onVideoTriggerClick()">
    <img [src]="poster" [alt]="altText" />
    <app-icon iconClass="video-play-icon" iconId="play-circle-filled"></app-icon>
    <span class="video-title" *ngIf="title">
      {{title}}<span *ngIf="duration"> [{{duration}}]</span>
    </span>
  </button>
</ng-template>

