<ng-container *ngIf="data$ | async; let data">
  <div class="player-stats">

    <ng-container *ngFor="let team of data.teams">
      <h3 class="player-stats-title">{{team.name}}</h3>

      <ng-container *ngFor="let group of team.stats">
        <ng-container *ngIf="group.position == 'Goalies'; else skatersLayout">
          <table>
            <thead>
            <tr>
              <th></th>
              <th class="player-position">{{group.position}}</th>
              <th class="tooltip">GA <span class="tooltip-content">Goals Against</span></th>
              <th class="tooltip">SA <span class="tooltip-content">Shots Against</span></th>
              <th class="tooltip">SV <span class="tooltip-content">Saves</span></th>
              <th class="tooltip">SV% <span class="tooltip-content">Save Percentage</span></th>
              <th class="tooltip">EV <span class="tooltip-content">Even Strength Saves-Shots</span></th>
              <th class="tooltip">PP <span class="tooltip-content">Power Play Saves-Shots</span></th>
              <th class="tooltip">SH <span class="tooltip-content">Shorthanded Saves-Shots</span></th>
              <th class="tooltip">PIM <span class="tooltip-content">Penalty Minutes</span></th>
              <th class="tooltip">TOI <span class="tooltip-content">Total On Ice Time</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let player of group.players">
              <td class="player-number">{{player.number}}</td>
              <td class="player-name">{{player.name}}, {{player.pos}}</td>
              <td>{{player.stats.shots - player.stats.saves}}</td>
              <td>{{player.stats.shots}}</td>
              <td>{{player.stats.saves}}</td>
              <td>{{player.stats.savePercent}}</td>
              <td>{{player.stats.evenSaves}} - {{player.stats.evenShotsAgainst}}</td>
              <td>{{player.stats.powerPlaySaves}} - {{player.stats.powerPlayShotsAgainst}}</td>
              <td>{{player.stats.shortHandedSaves}} - {{player.stats.shortHandedShotsAgainst}}</td>
              <td>{{player.stats.pim}}</td>
              <td>{{player.stats.timeOnIce}}</td>
            </tr>
            </tbody>
          </table>
        </ng-container>

        <ng-template #skatersLayout>
          <table>
            <thead>
            <tr>
              <th></th>
              <th class="player-position">{{group.position}}</th>
              <th class="tooltip">G <span class="tooltip-content">Goals</span></th>
              <th class="tooltip">A <span class="tooltip-content">Assists</span></th>
              <th class="tooltip">P <span class="tooltip-content">Points</span></th>
              <th class="tooltip">+/- <span class="tooltip-content">Plus / Minus</span></th>
              <th class="tooltip">PIM <span class="tooltip-content">Penalty Minutes</span></th>
              <th class="tooltip">SOG <span class="tooltip-content">Shots on Goal</span></th>
              <th class="tooltip">HT <span class="tooltip-content">Hits</span></th>
              <th class="tooltip">BS <span class="tooltip-content">Blocked Shots</span></th>
              <th class="tooltip">GV <span class="tooltip-content">Giveaways</span></th>
              <th class="tooltip">TK <span class="tooltip-content">Takeaways</span></th>
              <th class="tooltip">FW <span class="tooltip-content">Faceoff Win</span></th>
              <th class="tooltip">FL <span class="tooltip-content">Faceoff Loss</span></th>
              <th class="tooltip">FO% <span class="tooltip-content">Faceoff Win Percentage</span></th>
              <th class="tooltip">TOI <span class="tooltip-content">Total On Ice Time</span></th>
              <th class="tooltip">PP TOI <span class="tooltip-content">Power Play Total On Ice Time</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let player of group.players">
              <td class="player-number">{{player.number}}</td>
              <td class="player-name">{{player.name}}, {{player.pos}}</td>
              <td>{{player.stats.goals}}</td>
              <td>{{player.stats.assists}}</td>
              <td>{{player.stats.goals + player.stats.assists}}</td>
              <td>{{player.stats.plusMinus}}</td>
              <td>{{player.stats.penaltyMinutes}}</td>
              <td>{{player.stats.shots}}</td>
              <td>{{player.stats.hits}}</td>
              <td>{{player.stats.blocked}}</td>
              <td>{{player.stats.giveaways}}</td>
              <td>{{player.stats.takeaways}}</td>
              <td>{{player.stats.faceOffWins}}</td>
              <td>{{player.stats.faceoffTaken}}</td>
              <td>{{player.stats.faceOffPercent}}</td>
              <td>{{player.stats.timeOnIce}}</td>
              <td>{{player.stats.powerPlayTimeOnIce}}</td>
            </tr>
            </tbody>
          </table>
        </ng-template>

      </ng-container>

    </ng-container>
  </div>
</ng-container>

