@import 'config/variables';

.player-stats-title {
  background: $color-grey;
  color: $color-white;
  font-size: 1rem;
  margin: 0;
  padding: 0.5em 1em;
  width: 100%;
}

.player-stats {
  margin-bottom: 2em;

  table {
    background: $color-white;
    font-size: 0.875rem;
    margin: 0;
    width: 100%;
  }

  tr {
    border-bottom: 1px solid $color-grey-med;

    &:hover {
      background: $color-grey-light;
    }
  }

  th,
  td {
    padding: 0.5em;
    text-align: center;
    vertical-align: middle;
  }

  th {
    background: $color-grey-med;
    font-weight: 400;
  }

  td {
    font-weight: 600;
  }

  .player-position {
    text-align: left;
  }

  .player-number {
    text-align: right;
    width: 5%;
  }

  .player-name {
    text-align: left;
    width: 20%;
  }
}
